 #rectangle1 {
    margin-left: 25%;
    margin-top: 4rem;
    float: left;
    height: 300px;
    width: 0.5rem;
    background-color: whitesmoke;
  }
  #rectangle2 {
    margin-left: 0.5rem;
    float: left;
    margin-top: 4rem;
    height: 300px;
    width: 0.5rem;
    background-color: whitesmoke;
  }
  