body{
    background-image: linear-gradient(to right,#25a7d7, #2962FF);
}
canvas{
    background-color: #ffffff00;    
    margin-left: 10vw;
    border: 1px solid white;
    
        }

.card{
    height :25vh; 
    width: 80vw; 
    float:left;
    margin-top :0%;
    margin-left: 10vw;
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border-radius: 10px;
    }
.card-body{
    background-image: linear-gradient(to right#4025d7, #2962FF);
    color:white;
    border-radius: 10px;
    border: 1px solid white;
}
#customRange2{
    direction: rtl;
}
