body{
    background-image: linear-gradient(to right,#FFD3A5,#FD6585);
}
canvas{
    background-color: #d1c4e900;    
    margin-left: 10vw;
    border:1px solid white;
        }

.card{
    height :35vh; 
    width: 80vw; 
    float:left; 
    margin-top :1%;
    margin-left: 10vw;
    background-color: rgba(255, 255, 255, 0);
    color:white;
}
.card-body{
    background-image: linear-gradient(to right,#FD6585,#FFD3A5);
    color:white;
}
